* {
  font-family: 'Rajdhani', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

header {
  height: 80px;
  background-color: #221958;
  width: 100%;
  position: fixed;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container a {
  margin: 0 10px;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.under {
  background-color: #221958;
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under .underheader {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.under .underheader .text {
  margin: 0 20px;
  color: white;
}

.under .underheader .text h1 {
  font-size: 40px;
}

.under .underheader .text p {
  font-size: 20px;
}

.main1 {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  height: 600px;
}

.main1 .text {
  margin: 0 auto;
  max-width: 640px;
  margin-top: 100px;
}

.main1 .text h1 {
  font-size: 40px;
}

.main1 .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.main1 .column h2 {
  text-align: left;
}

.main1 .column p {
  text-align: left;
}

.main1 .column div {
  margin: 0 5px;
  background-color: #faf9ff;
}

.main1 h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

button {
  border-radius: 30px;
  font-size: 23px;
  font-weight: 500;
  border: 1px solid transparent;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 1px solid white;
}

button:hover {
  background: #221958;
  border: 1px solid white;
  color: white;
}

.maintwo {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maintwo h2 {
  font-size: 32px;
}

.maintwo span {
  font-size: 20px;
}

.maintwo button {
  margin-top: 20px;
  border: 1px solid #221958;
}

.useless {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.main3 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main3 img {
  margin-left: 30px;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.card div {
  width: 200px;
  height: 200px;
  background-color: #faf9ff;
}

.card div:nth-child(even) {
  margin-top: 30px;
  margin-left: 20px;
}

.card div:hover,
.column div:hover,
.pricecards div:hover {
  border: 0.1px solid rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0px 30px 60px 0px rgba(33, 20, 106, 0.1);
          box-shadow: 0px 30px 60px 0px rgba(33, 20, 106, 0.1);
}

.pricecards div:hover .buy {
  background-color: #221958;
  color: white;
}

.diagrama {
  width: 100%;
}

.diagrama .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 550px;
      grid-template-columns: 600px 550px;
  max-width: 1200px;
  margin: 0 auto;
  height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.price .text {
  text-align: center;
}

.price .pricecards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  height: 540px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.price .pricecards div {
  background-color: #faf9ff;
  text-align: center;
  margin-left: 30px;
}

.price .pricecards div h1 {
  font-size: 60px;
}

.price .pricecards div .red {
  color: red;
}

.price .pricecards div button {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */