* {
    font-family: 'Rajdhani', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    height: 80px;
    background-color: #221958;
    width: 100%;
    position: fixed;
    .container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        height: inherit;
        align-items: center;
        a {
            margin: 0 10px;
            font-size: 25px;
            text-decoration: none;
            color: white;
        }
    }
}

.under {
    background-color: #221958;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    .underheader {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        .text {
            margin: 0 20px;
            color: white;
            h1 {
                font-size: 40px;
            }
            p {
                font-size: 20px;
            }
        }
    }
}

.main1 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    height: 600px;
    .text {
        margin: 0 auto;
        max-width: 640px;
        margin-top: 100px;
        h1 {
            font-size: 40px;
        }
    }
    .column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 100px;
        h2 {
            text-align: left;
        }
        p {
            text-align: left;
        }
        div {
            margin: 0 5px;
            background-color: #faf9ff;
        }
    }
    h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

button {
    border-radius: 30px;
    font-size: 23px;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all .4s ease;
    border: 1px solid white;
}

button:hover {
    background: #221958;
    border: 1px solid white;
    color: white;
}

.maintwo {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    h2 {
        font-size: 32px;
    }
    span {
        font-size: 20px;
    }
    button {
        margin-top: 20px;
        border: 1px solid #221958;
    }
}

.useless {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

.main3 {
    margin-top: 20px;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 70px;
    justify-content: center;
    img {
        margin-left: 30px;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
        width: 200px;
        height: 200px;
        background-color: #faf9ff;
    }
    div:nth-child(even) {
        margin-top: 30px;
        margin-left: 20px;
    }
}

.card div:hover,
.column div:hover,
.pricecards div:hover {
    border: 0.1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0px 30px 60px 0px rgba(33, 20, 106, 0.1);
}

.pricecards div:hover {
    .buy {
        background-color: #221958;
        color: white;
    }
}

.diagrama {
    width: 100%;
    .form {
        display: grid;
        grid-template-columns: 600px 550px;
        max-width: 1200px;
        margin: 0 auto;
        height: 80vh;
        align-items: center;
    }
}

.price {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    .text {
        text-align: center;
    }
    .pricecards {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        height: 540px;
        justify-content: center;
        margin-top: 100px;
        div {
            background-color: #faf9ff;
            text-align: center;
            margin-left: 30px;
            h1 {
                font-size: 60px;
            }
            .red {
                color: red;
            }
            button {
                margin-top: 20px;
            }
        }
    }
}